.about-section {
  background: #f6f4ff;
}

.section-title {
  font-weight: 800;
  color: #121214;
}

.section-subtitle {
  color: #6c6c6c;
  max-width: 600px;
  margin: auto;
}

.about-text {
  font-size: 1rem;
  color: #444;
  line-height: 1.8;
}

.highlight {
  color: #695aa6;
  font-weight: 600;
}

.about-points p {
  margin-bottom: 10px;
  font-weight: 500;
}

.about-points i {
  color: #695aa6;
  margin-right: 8px;
}

/* Cards */
.about-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(105, 90, 166, 0.15);
  transition: all 0.3s ease;
  height: 100%;
}

.about-card i {
  font-size: 30px;
  color: #695aa6;
  margin-bottom: 10px;
}

.about-card h4 {
  font-weight: 700;
  margin-bottom: 8px;
}

.about-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(105, 90, 166, 0.25);
}
